.footer {
  height: 100px;
  background-color: #DD1A1A;
  position: relative;
  margin-bottom: 2.5em;
}
.footer_black {
  height: 45px;
  width: 100%;
  background-color: #0C0C0C;
  position: absolute;
  bottom: 0;
}
.footer_circle {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: -15px;
  right: 10%;
  border: 10px solid black;
}
.footer_circle-int {
  position: absolute;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #0C0C0C;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}