.pokedex_title {
  font-size: 1.5rem;
  padding-left: 1em;
  padding-left: 1em;
  font-weight: 300;
  margin-bottom: 2em;
}
.pokedex_title-name {
  font-weight: 600;
  color: #FE1936;
}
.pokedex_container-pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}